body{
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: indianred;
    text-align: center;
}

.board{
    border-radius: 15px;
    padding: 15px;
    padding-left: 25px;
    margin: 50px auto;
    width: 40%;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

button{
    font-size: xx-large;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: none;
    margin: 10px;
    transition: transform 0.1s ease-in-out;
}

button:active {
  transform: scale(0.95);
}